:root {
  --black: #1c1917;
  --white: #f4f4f5;
  --blue: #1d4ed8;
  --pink: #a21caf;

  --transparent-blue: #1d4ed844;
  --transparent-pink: #a21caf44;
}

* {
  margin: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body.dark {
  background-color: var(--white);
  color: var(--dark);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.iconUp{
  width: 25px;
  height: 25px;
  margin: 4px;
  filter: invert(1);
  position: absolute;
  top:0;
  right:0;
}
.cv {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.headerContent {
  text-align: right;
}

.name {
  /* text-decoration: underline; */
  padding: 1rem 1rem 0;
}

h1 {
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(to left, var(--blue), var(--pink));
}

h3 {
  font-size: 24px;
  border-bottom: 1px dashed var(--white);
  font-style: italic;
  margin-bottom: 10px;
}

.dark h3{
  border-bottom: 1px dashed var(--black);
}

h3::before {
  content: "-";
  margin: 0.8rem;
}

.description {
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  max-width: 700px;
  min-width: 300px;
  border: 2px solid var(--blue);
  background: var(--transparent-blue);
  text-align: justify;
}


.photo img {
  width: 180px;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 10px 10px 0 var(--transparent-pink), -10px -10px 0 var(--transparent-blue);
}

.main {
  display: flex;
  flex-wrap: nowrap;
}

.aside {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.mail,
.phone,
.adress,
.date,
.linkedin,
.github,
.web {
  display: flex;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 4px;
  filter: invert(1);
}
.dark .icon{
  filter: invert(0);
}

.chicha {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--pink);
  padding: 1rem;
  gap: 1rem;
  background: var(--transparent-pink);
  border-radius: 0 10px 10px 0;

  /* flex-wrap: wrap; */

  /* min-width: 300px; */
}


@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
  }

  .photo {
    transform: scale(1.5);
    margin: 2rem;
  }

  .main {
    flex-wrap: wrap;
  }

  .chicha {
    border: none;
    border-radius: 10px;
  }
}
